nav {
  height: 55px;
  background: linear-gradient(to right, #000000, #292929);
  margin: 0 auto;
  box-shadow: 0 1px 1px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(59, 63, 63, 0.1);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  width: 98%;
  margin: auto;
}

.ballprk-logo {
  padding: 4px 17px;
  margin-bottom: 11px;
  letter-spacing: 8px;
  text-transform: uppercase;
  border: 1px solid #e2e2e2;
  color: #8f8f8f;
  cursor: pointer;
}

.right-side-navbar {
  font-size: 14px;
  cursor: pointer;
  color: #8f8f8f;
}

.right-side-navbar .fa,
.right-side-navbar .link {
  margin-right: 18px;
  font-size: 14px;
  color: #8f8f8f;
  text-decoration: none;
}
.right-side-navbar .link:hover {
  color: #ffffff;
}

.right-side-navbar .fa:hover:hover {
  color: #ffffff;
}

.right-side-navbar .fa-envelope {
  border-right: 1px solid #8f8f8f;
  padding-right: 14px;
}

nav .link {
  font-size: 14px;
  line-height: 55px;
  text-decoration: none;
  color: #8f8f8f;
}
nav .fa {
  line-height: 55px;
}
nav .dropdown {
  position: absolute;
  right: 20px;
  background: #292929;
  top: 44px;
  border-radius: 5px;
  font-size: 0.875rem;
  border-radius: 5px;
  border-top: none;
  min-width: 100px;
  box-shadow: 0 1px 1px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(7, 7, 7, 0.1);
  z-index: 20;
}

.dropdown .link {
  display: flex;
  line-height: 27px;
  padding: 0.375rem 1rem;
}
.dropdown .link:not(:first-child) {
  display: none;
}

.dropdown .link:hover {
  background: #ffffff;
}

@media (max-width: 568px) {
  .right-side-navbar .link {
    display: none;
  }
  .ballprk-logo {
    letter-spacing: 2px;
  }
  .dropdown .link:not(:first-child) {
    display: block;
  }
  .dropdown .link {
    line-height: 16px;
  }
}
